$font-family-sans-serif: 'Lora', serif;
$headings-font-family: 'Rubik', sans-serif;
$primary: #43759c;
$secondary: #955251;
$link-color: $secondary;
$link-hover-decoration: none;
$line-height-base: 2;
